@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-zinc-900 bg-[#faf9f6];
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    background: #fbcfe8;
    color: #9d174d;
  }
}

:root {
  --background: #faf9f6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
